<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/profile/complete.css}" />
</head>
<body>
    <main layout:fragment="contents">
        <div class="wrapper">
            <h1>自己紹介作成完了</h1>
            <p class="text">自己紹介の作成が完了しました。</p>
            <div class="return_btn-area">
                <a class="return_btn" th:href="@{/profile/list}">一覧画面に戻る</a>
            </div>
        </div>
    </main>
</body>
</html>