<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/news/list.css}" rel="stylesheet">
</head>
<body>
    <main layout:fragment="contents">
        <div class="wrapper">
            <h1>ニュース一覧</h1>
            <div class="top-area">
                <button class="btn" th:onclick="location.href='/news/create'">新規作成</button>
                <form th:action="@{/news/list}" method="get" class="search">
                    タイトル
                    <input type="text" name="title" th:value="${title}" class="input-search">
                    <button class="search-btn">検索</button>
                </form>
            </div>
            <table border="1">
                <tr>
                    <th>No</th>
                    <th>タイトル</th>
                    <th>本文</th>
                    <th>操作</th>
                </tr>
                <tr th:each="news,status : ${newsList}" >
                    <td th:text="${status.count}"></td>
                    <td>
                        <p class="td-title" th:text="${#strings.length(news.title) <= 7} ? ${news.title} : |${#strings.substring(news.title, 0, 7)}...|"></p>
                    </td>
                    <td>
                        <p class="td-contents" th:text="${#strings.length(news.content) <= 40} ? ${news.content} : |${#strings.substring(news.content, 0, 40)}...|"></p>
                    </td>
                    <td class="operation-box">
						<a th:href="@{/news/edit/__${news.id}__}" class="operation">編集</a>
						<form method="post" name="delete" th:action="@{/news/delete}">
						    <input type="hidden" name="id" th:value="${news.id}">
						    <a onclick="this.parentNode.submit()" class="operation">削除</a>
						</form>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>