/* ニュース編集 */
.form-ul {
  margin: 50px auto;
  padding-left: 0;
}

.form-body {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 1.4rem;
  margin-bottom: 50px;
  align-self: baseline;
}

.form-body-img{
  align-items: baseline;
}

.form-body-inner {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.form-ul > li:not(:first-child) {
  margin-top: 20px;
}

.title {
  margin: 0;
}

.error_msg {
  color: tomato;
}

.input-area {
  width: 500px;
  height: 50px;
  padding: 5px 10px;
  font-size: 1.4rem;
  border-radius: 10px;
}

input.input-area_file {
  padding: 0;
  font-size: 1rem;
  border-radius: 0;
}

.textarea {
  height: 300px;
}

.flex{
  display: flex;
  gap: 10px;
}

.checkbox{
  margin: 0;
}

.form-img-box {
  color: #398ed3;
  margin-bottom: 10px;
}

.form-img-text {
  font-size: 0.8rem;
  align-self: center;
}

.date {
  width: 200px;
  border: 1px solid;
  margin: 0 auto;
  padding: 5px 0;
}

.btn-area {
  margin: 25px 15px 30px 0;
}

.btn,
.return_btn {
  height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff;
}

.btn {
  background-color: #398ed3;
  width: 100px;
}

.return_btn-area {
  text-align: center;
}

.return_btn {
  background-color: gray;
  width: 200px;
  line-height: 40px;
}

.u-margin_0 {
  margin: 0;
}

.history {
  text-align: center;
}

.history_text {
  font-size: 1.4rem;
}