.wrapper {
  width: 65vw;
}

.top-area {
  display: flex;
  justify-content: space-between;
}

input.input-search {
  width: 200px;
  margin-left: 15px;
  padding: 10px;
}

.search-btn {
  margin-left: 15px;
  width: 60px;
  height: 100%;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 15px;
}

.td-title {
  text-align: left;
  width: 96px;
  white-space: nowrap;
}

.td-contents {
  text-align: left;
  width: 496px;
  white-space: nowrap;
}

.operation:first-child {
  margin-bottom: 5px;
}

.operation {
  font-size: 20px;
  text-decoration: underline;
  margin: 0;
}

.btn {
  background-color: #398ed3;
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #fff;
}