<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jutjoy.domain.mapper.NewsHistoriesMapper">


	<resultMap id="newsResultMap" type="com.jutjoy.domain.entity.news.NewsHistories">
    	<id column="id" property="id" />
    
    	<id column="news_id" property="newsId" />
    	
    	<result column="edited_date"
                property="editedDate"
                jdbcType="TIMESTAMP"
                javaType="java.sql.Timestamp" />
        
    </resultMap>
    
    
    
     <!-- 履歴一覧取得 -->
    <select id="findByNewsId"
            parameterType="int"
            resultMap="newsResultMap">

        SELECT
            id,
            news_id,
            edited_date
        FROM
            news_histories
        WHERE
            news_id = #{id}
        ORDER BY
            edited_date DESC

    </select>

    <!-- 履歴登録 -->
    <insert id="insert"
            parameterType="com.jutjoy.domain.entity.news.NewsHistories"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO news_histories (
            news_id,
            edited_date
        )
        VALUES (
            #{newsId},
            CURRENT_TIMESTAMP
        )

    </insert>
    
    
    <!-- 履歴削除 -->
    <delete id="deleteHistory"
            parameterType="int">

        DELETE FROM
            news_histories
        WHERE
            news_id = #{id}

    </delete>

</mapper>