<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jutjoy.domain.mapper.ProfileMapper">

    <!-- Profile用 resultMap -->
    <resultMap id="profileResultMap" type="com.jutjoy.domain.entity.profile.Profile">
        <id column="id" property="id" />

        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="hobby" property="hobby" />
        <result column="introduction" property="introduction" />

        <result column="registered_date"
                property="registeredDate"
                jdbcType="TIMESTAMP"
                javaType="java.sql.Timestamp" />

        <result column="updated_date"
                property="updatedDate"
                jdbcType="TIMESTAMP"
                javaType="java.sql.Timestamp" />
                
     </resultMap>


    <!-- 一覧取得 -->
    <select id="findAllOrderById"
            resultMap="profileResultMap">

        SELECT
            id,
            name,
            gender,
            hobby,
            introduction,
            registered_date,
            updated_date
        FROM
            profile
        ORDER BY
            id

    </select>


    <!-- 名前検索 -->
    <select id="findByNameLike"
            parameterType="String"
            resultMap="profileResultMap">

        SELECT
            id,
            name,
            gender,
            hobby,
            introduction,
            registered_date,
            updated_date
        FROM
            profile
        WHERE
            name LIKE #{name}
        ORDER BY
            id

    </select>


    <!-- ID検索 -->
    <select id="selectById"
            parameterType="int"
            resultMap="profileResultMap">

        SELECT
            id,
            name,
            gender,
            hobby,
            introduction,
            registered_date,
            updated_date
        FROM
            profile
        WHERE
            id = #{id}

    </select>

    <!-- 登録 -->
    <insert id="insert"
            parameterType="com.jutjoy.domain.entity.profile.Profile"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO profile (
            name,
            gender,
            hobby,
            introduction,
            registered_date,
            updated_date
        )
        VALUES (
            #{name},
            #{gender},
            #{hobby},
            #{introduction},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )

    </insert>


    <!-- 更新 -->
    <update id="update"
            parameterType="com.jutjoy.domain.entity.profile.Profile">

        UPDATE
            profile
        SET
            name = #{name},
            gender = #{gender},
            hobby = #{hobby},
            introduction = #{introduction},
            updated_date = CURRENT_TIMESTAMP
        WHERE
            id = #{id}

    </update>


    <!-- 削除 -->
    <delete id="delete"
            parameterType="int">

        DELETE FROM
            profile
        WHERE
            id = #{id}

    </delete>

</mapper>