<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jutjoy.domain.mapper.ProfileMapper">

	<!-- 一覧取得 -->
	<select id="findAllOrderById"
		resultType="com.jutjoy.domain.entity.profile.Profile">

		SELECT
		id,
		name,
		gender,
		hobby,
		introduction,
		registered_date AS registeredDate,
		updated_date AS updatedDate
		FROM
		profile
		ORDER BY
		id

	</select>

	<!-- 履歴一覧取得 -->
	<select id="findByProfileId" parameterType="int"
		resultType="com.jutjoy.domain.entity.profile.Profile">

		SELECT
		edited_date AS editedDate
		FROM
		profile_histories
		WHERE
		PROFILE_ID = #{id}

	</select>


	<!-- 名前検索 -->
	<select id="findByNameLike" parameterType="String"
		resultType="com.jutjoy.domain.entity.profile.Profile">

		SELECT
		id,
		name,
		gender,
		hobby,
		introduction,
		registered_date AS registeredDate,
		updated_date AS updatedDate
		FROM
		profile
		WHERE
		name LIKE #{name}
		ORDER BY
		id

	</select>

	<!-- ID検索 -->
	<select id="selectById" parameterType="int"
		resultType="com.jutjoy.domain.entity.profile.Profile">

		SELECT
		ID,
		NAME,
		GENDER,
		HOBBY,
		INTRODUCTION,
		REGISTERED_DATE AS
		REGISTEREDDATE,
		UPDATED_DATE AS UPDATEDDATE
		FROM
		PROFILE
		WHERE
		ID = #{id}

	</select>

	<!-- 登録 -->
	<insert id="insert"
		parameterType="com.jutjoy.domain.entity.profile.Profile"
		useGeneratedKeys="true" keyProperty="id">

		INSERT INTO profile (
		name,
		gender,
		hobby,
		introduction,
		registered_date,
		updated_date
		)
		VALUES (
		#{name},
		#{gender},
		#{hobby},
		#{introduction},
		CURRENT_TIMESTAMP,
		CURRENT_TIMESTAMP
		)

	</insert>

	<!-- 更新 -->
	<update id="update"
		parameterType="com.jutjoy.domain.entity.profile.Profile">

		UPDATE
		profile
		SET
		name = #{name},
		gender = #{gender},
		hobby = #{hobby},
		introduction = #{introduction},
		updated_date = CURRENT_TIMESTAMP
		WHERE
		id = #{id}

	</update>

	<!-- 削除 -->
	<delete id="delete" parameterType="int">

		DELETE FROM
		profile
		WHERE
		id = #{id}

	</delete>

</mapper>